.jsoneditor {
    border: none !important;
}

div[role="row"]:hover {
    background-color: rgb(230, 244, 244);
    border-bottom-color: #FFFFFF;
    outline: 1px solid #FFFFFF;
}

.status {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #4CAF50;
}

.status.Approved {
    background-color: #4CAF50;
}

.status.Reverted {
    background-color: #f44336;
}

.atable-parent div:first-child {
    overflow: auto !important;
}

.jsoneditor-menu {
    background-color: #00a38a !important;
}

.host-req {
    z-index: 2147483647 !important;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
}

.delete-button:hover {
    background-color: #d0372c;
}

.delete-button:active {
    background-color: #87170f;
}

.edit-button {
    background-color: #00a38a;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
}

.edit-button:hover {
    background-color: #007d6d;
}

.edit-button:active {
    background-color: #005a52;
}