.jsoneditor {
    border: none !important;
}

div[role="row"]:hover {
    background-color: rgb(230, 244, 244);
    border-bottom-color: #FFFFFF;
    outline: 1px solid #FFFFFF;
}

.status {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #4CAF50;
}

.status.Approved {
    background-color: #4CAF50;
}

.status.Reverted {
    background-color: #f44336;
}

.atable-parent div:first-child {
    overflow: auto !important;
}

.jsoneditor-menu {
    background-color: #00a38a !important;
}

.host-req {
    z-index: 2147483647 !important;
    height: 100vh;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
}

.delete-button:hover {
    background-color: #d0372c;
}

.delete-button:active {
    background-color: #87170f;
}

.edit-button {
    background-color: #00a38a;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: large;
}

.edit-button:hover {
    background-color: #007d6d;
}

.edit-button:active {
    background-color: #005a52;
}

.hamburger-button {
    display: none;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.hamburger-button:hover .hamburger-line {
    background-color: #666;
}

.hamburger-menu {
    position: relative;
    padding: 10px;
    z-index: 111;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    display: none;
    border: 2px solid #00a38a;
    background-color: white;
    text-align: center;
}

.desktop-view {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    .hamburger-menu {
        width: 150px;
        display: block;
        margin-top: 8vh;
        margin-left: 0vw;
    }

    .desktop-view {
        display: none;
    }

    .hamburger-button {
        display: block;
    }

    .flex-row {
        flex-direction: column;
    }

    .host-req {
        height: 100vh;
        width: 100vw;
        position: fixed;
    }

    .hamburger-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 1px;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 1% !important;
    }

    .summary-filter {
        display: none;
    }

    .bottom-right {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        justify-content: flex-end;
        z-index: 2147483647;
      }
}